[submodule "hardware/CleverHand-hardware"]
	path = hardware/CleverHand-hardware
	url = ../CleverHand-hardware
	branch = main
[submodule "software/driver/CleverHand-interface"]
	path = software/driver/CleverHand-interface
	url = ../CleverHand-interface
	branch = main
[submodule "software/firmware/hc32l110_clvhd"]
	path = software/firmware/hc32l110_clvhd
	url = ../hc32l110_clvhd
	branch = main
[submodule "software/tools/clvhd_lslplotter"]
	path = software/tools/clvhd_lslplotter
	url = ../clvhd_lslplotter
	branch = main
[submodule "software/tools/Cleverhand-configGUI"]
	path = software/tools/Cleverhand-configGUI
	url = ../Cleverhand-configGUI
	branch = main
